@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#camera-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; /* <-- importante */
  justify-content: center;
  border: 5px solid hsl(0, 0%, 55%);
  border-radius: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  width: 100vw;
  height: 100vh;
}

#camera-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid hsl(0, 0%, 55%);
  border-radius: 10px;
  gap: 5px;
  margin-right: 5px;
}

legend {
  text-align: center;
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: x-large;
}

button {
  width: 100%;
  height: 5vh;
  font-family: 'Roboto';
  border: none;
  border-radius: 5px;

}