@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

body {
  background-color: hsl(0, 100%, 32%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.cont {
  background-color: rgb(190, 0, 0);
  
  width: 90%;
  max-width: 600px;

  min-height: 300px;

  max-height: 85vh;
  border: 5px solid black;
  border-radius: 10px;

  margin: 5px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: 'Rubik Glitch';
  font-size: xx-large;
  font-size: clamp(1.5rem, 5vw, 2.5rem);

  overflow: -moz-hidden-unscrollable;
  animation: shake 0.1s infinite;
}

a {
  width: 80%;
  background-color: hsl(0, 100%, 60%);
  text-decoration: none;
  border-radius: 10px;
  color: black;
  text-align: center;
}

#bin {
  width: 100%;
  white-space: pre;
  position: fixed;
  color: hsla(120, 100%, 34%, 0.603);
  z-index: -1;
  margin-left: -50px;
  margin-top: -100px;
  pointer-events: none;
}

img {
  max-width: 350px;
  width: 40%;
  height: auto;
}
.imgs {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 450px){
  .imgs{
    flex-direction: column;
  }
  body {
    align-items: center;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10px { transform: translate(-1px, -2px) rotate(0deg); }
  20px { transform: translate(-3px, 0px) rotate(0deg); }
  30px { transform: translate(3px, 2px) rotate(0deg); }
  40px { transform: translate(1px, -1px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(0deg); }
}