@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


  background-color: hsl(0, 0%, 85%);
  font-family: 'Roboto';
}

.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: hsl(0, 0%, 75%);
  border: 4px solid hsl(0, 0%, 65%);
  border-radius: 5px;

  padding: 20px;
  width: clamp(200px, 500px, 650px);
  transform: translate(0px, -50px);
  text-align: center;
}

a {
  border: none;
  background-color: rgb(0, 88, 139);
  width: 100%;
  height: 5vh;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  white-space: pre;
  text-wrap: wrap;
}